/* =======================Version:1.0====================StyleDownload.css============================== */

body{
    font-family: 'Grandstander', cursive;
}


/* =========Estilos==de==vista==tarjeta============== */
/*Display.
  Text: position - align - colour - shadow.
  Position: padding - margin
  Border
  Box-shadow
  trans-ition/form
  */

.card{
  display: flex;
  text-align: center;
  margin: 22px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 0px 10px 10px #c4e7e3;
  transition: transform 500ms;
}

.title-card{
  font-weight: 900;
  font-size: 6mm;
  text-shadow: 0 0 3px #01581b;
  box-shadow: 0px 2px 0px 0px #888;
  transition: all 2s ease-in-out;
}


.img-card{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  transition: all 2s ease-in-out;
}

.icons-general{
  padding: 3px;
  margin-bottom: 40px;
  transition: all 2s ease-in-out;
}

.desctription-card{
  margin-bottom: 30px;
  text-shadow: 0 0 3px #01581b;
  box-shadow: 0px 1px 15px 1px #888;
  transition: all 2s ease-in-out;
}

.box-btn{
  padding: 20px;
  color: rgb(0, 48, 4);
  background: lightgreen;
  border: 1px solid black;
  border-radius: 24px;
  transform: scale(1.1);
}

.box-btn:hover {
  color: rgb(19, 53, 9);
  background: lightblue;
  text-decoration: none;
  box-shadow: 0px 7px 15px #888;
  transition: all 500ms ease-in-out;
}

.card:hover{
  background-color:rgb(235, 235, 235);
  box-shadow: 10px 10px 10px #768684;
  transform: scale(1.2);
}

.card:hover .desctription-card{
  box-shadow: 0px 1px 15px 1px rgb(136, 136, 136);
}



/* =========Estilos==de==vista==detalle============== */

.card-detail{
  display: flex;
  text-align: left;
  margin: 10px;
  border: 1px solid black;
  border-radius: 17px;
  box-shadow: 7px 7px 7px #888;
}

.title-card-detail{
  padding-left: 12px;
  font-size: 5mm;
  text-shadow: 0 0 3px #01581b;
}

.img-card-detail{
  position: absolute;
  width: 30px;
  height: 29px;
  left: 250px;
  border-left: 2px solid rgb(20, 108, 119);
  border-right: 2px solid rgb(20, 108, 119);
}

.description-card-detail{
  position: absolute;
  padding-top: 4px;
  left: 290px;
  font-size: 4mm;
  box-shadow:none;
  transition: none;
}

.box-btn-detail{
  position: absolute;
  padding: 8px;
  top: 5px; 
  left: 1100px;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: rgb(175, 255, 151);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #888;
  scale:(1.1);
  transition: transform 5s;
}


.box-btn-detail:hover {
  color: rgb(0, 48, 4);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 80%);
  text-decoration: none;
  box-shadow: 4px 4px 4px #888;
  transform: scale(1.5);
  transition: all .5s ease-in-out;
}

.card-detail:hover{
  background-color:rgb(235, 235, 235);
  box-shadow: 10px 10px 10px #888;
}


/* ====================================== Interruptor cambio de vista ====================================== */


 
.switch-general{
    position: absolute;
    margin: 30px;
    border-right: 2px solid black; 
    padding: 5px;
}


 .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
   
 
  /* Ocultamos el checkbox html */
  .switch input {
    display:none;
  }
   
  /* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: rgb(1, 141, 129);
  }
   
  /* Pintamos la perilla de control o slider usando el selector before */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: black;
  }
   
  input:checked + .slider {
    background-color: rgb(1, 148, 87);
  }

   
  /* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
   
  /* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
  .slider.round {
    border-radius: 34px;
  }
   
  .slider.round:before {
    border-radius: 50%;
  }




/*Configuracion pantalla responsive*/

/*min screen*/
@media(max-width: 767px){
  .switch-general{
    visibility: collapse;
    }
}   

/*mid screen*/
@media (min-width: 768px) and (max-width: 991px){
    .switch-general{
        visibility: collapse;
        }
}
/*big screen*/
@media(min-width: 992px){


}

