* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #A1A1A1;
}

.container-fluid {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}


/*---------------------------------*/


/*Menu*/

.logo-menu {
    position: absolute;
    left: 15%;
    height: 40px;
    padding-top: 3px;
}

.full-menu {
    position: relative;
    background: #016AC3;
    height: 44px;
}

.medium-menu {
    position: absolute;
    display: inline;
    cursor: pointer;
    left: 50%;
    width: 510px;
    z-index: 10;
}

ul,
ol {
    list-style: none;
}

.menu li span {
    display: block;
    background-color: #016AC3;
    color: lightblue;
    text-decoration: none;
    padding: 10px 15px;
}

.menu li span:hover {
    text-shadow: 1px 1px white;
    color: white;
}

.menu>li {
    float: left;
}

.menu li ul {
    display: none;
    position: absolute;
}

.menu li:hover>ul {
    display: block;
}


/*---------------------------------*/


/*Home*/

.home {
    background-color: green;
    border: solid 3px black;
}

.home-sub {
    text-align: center;
    border: solid 1px black;
}


/*---------------------------------*/


/*Contact*/

.contact {
    background-color: red;
    display: none;
}


/*---------------------------------*/


/*Footer*/

footer {
    background: black;
    color: white;
    text-align: center;
}


/*---------------------------------*/


/*Configuracion pantalla responsive*/


/*min screen*/

@media(max-width: 768px) {
    .medium-menu {
        position: absolute;
        left: 0;
        width: 500px;
        padding: 0px 0px;
    }
}


/*mid screen*/

@media (min-width: 768px) and (max-width: 991px) {
    #logo-menu {
        left: 10%;
    }
    .medium-menu {
        position: absolute;
        left: 35%;
    }
}


/*big screen*/

@media(min-width: 992px) {}